In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("electricity_market_data.csv")
df.head

<bound method NDFrame.head of                  Timestamp  Market_Price_€/MWh  Temperature_C  Wind_Speed_m/s  \
0      2023-01-01 00:00:00           57.647482      11.862304       20.203702
1      2023-01-01 01:00:00           68.754874       5.530957        3.341909
2      2023-01-01 02:00:00          123.842069      17.032236        1.204323
3      2023-01-01 03:00:00           71.518072      20.811796       18.694352
4      2023-01-01 04:00:00          127.713857      19.440268       15.325984
...                    ...                 ...            ...             ...
17516  2024-12-30 20:00:00          191.818874      23.767994       13.457084
17517  2024-12-30 21:00:00          139.845845       1.081919       24.841503
17518  2024-12-30 22:00:00          128.763370      23.755904       13.763472
17519  2024-12-30 23:00:00           47.250064       7.711080       16.706422
17520  2024-12-31 00:00:00          114.458217      15.174502       11.972659

       Solar_Radiation_W/m^2  Solar_Generation_MW  Wind_Generation_MW
0                 389.819125            58.472869         1010.185086
1                 135.256514            20.288477          167.095460
2                 262.314456            39.347168           60.216137
3                 378.232499            56.734875          934.717596
4                 233.775830            35.066374          766.299212
...                      ...                  ...                 ...
17516             262.622914            39.393437          672.854188
17517             157.603418            23.640513         1242.075173
17518             174.499707            26.174956          688.173608
17519              67.486773            10.123016          835.321082
17520             598.260510            89.739077          598.632961

[17521 rows x 7 columns]>

In [2]:
# check the data for missing values
# check missing data
count = df.isnull().sum()
print(f"The number of duplicate rows is: {count}")

The number of duplicate rows is: Timestamp                0
Market_Price_€/MWh       0
Temperature_C            0
Wind_Speed_m/s           0
Solar_Radiation_W/m^2    0
Solar_Generation_MW      0
Wind_Generation_MW       0
dtype: int64

In [3]:
df['Market_Price_€/MWh'].describe()
# The mean market price is 109 while the maximum price somebody is The Megawatt-hour (MWh). So for 1 Megawatt per 
# Hour the consumer has to pay 109 median, 199 was the maximum and 20 the minimum

count    17521.000000
mean       109.551596
std         52.324864
min         20.004628
25%         64.139015
50%        109.303012
75%        154.767113
max        199.987021
Name: Market_Price_€/MWh, dtype: float64

In [4]:
# Create a feature Market Price Feature per day

# Step 1 Ensure Timestamp is in Dateformat
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

# Step 2 Sort the data by the first timespamp 1 January 2023  00:00:00
df = df.sort_values(by='Timestamp')

# Extract the date from the Timestamp
df['Date'] = df['Timestamp'].dt.date

# Group by Date and calculate the mean market price
daily_market_price = df.groupby('Date')['Market_Price_€/MWh'].mean().reset_index()

# Rename columns for clarity 
daily_market_price.columns = ['Date', 'Average_Market_Price_€/Day']

daily_market_price

           Date  Average_Market_Price_€/Day
0    2023-01-01                  112.315634
1    2023-01-02                   94.924160
2    2023-01-03                  126.176283
3    2023-01-04                  109.824965
4    2023-01-05                  101.348787
..          ...                         ...
726  2024-12-27                  111.909005
727  2024-12-28                  110.423448
728  2024-12-29                   99.129916
729  2024-12-30                  115.946702
730  2024-12-31                  114.458217

[731 rows x 2 columns]

In [5]:
# Maximum price to pay for Electricity
daily_market_price.max()

Date                          2024-12-31
Average_Market_Price_€/Day    144.936409
dtype: object

In [6]:
# Minimum Price to pay for Electricity 
daily_market_price.min()

Date                          2023-01-01
Average_Market_Price_€/Day     72.325438
dtype: object